.Rproj.user
.Rhistory
.RData
.metadata
.recommenders
*.pyc
.project
.pydevproject
.classpath
.settings/
*.log
*.png
*.class
*.iml
*.idea/
*#
*.Rproj
extra/randoop-all-3.1.5.jar
data/*
!data/README.md
*.DS_Store
